@import url('https://rsms.me/inter/inter.css');
@import '@unocss/reset/tailwind.css';
@import './tailwind-form.css';
@import './tailwind-prose.css';

/* Reset */
*,
::before,
::after {
  border-color: #e5e7eb;
}

/* Inter */
html,
.font-inter,
.font-sans {
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@supports (font-variation-settings: normal) {
  html,
  .font-inter,
  .font-sans {
    font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}
html,
.text-base {
  letter-spacing: -0.011em;
}
.text-2xs {
  letter-spacing: 0.01em;
}
.text-xs {
  letter-spacing: 0;
}
.text-sm {
  letter-spacing: -0.006em;
}
.text-lg {
  letter-spacing: -0.014em;
}
.text-xl {
  letter-spacing: -0.017em;
}
.text-2xl {
  letter-spacing: -0.019em;
}
.text-3xl {
  letter-spacing: -0.011em;
}
.text-4xl {
  letter-spacing: -0.021em;
}
.text-5xl,
.text-6xl,
.text-7xl,
.text-8xl,
.text-9xl {
  letter-spacing: -0.022em;
}

/* Form */
/* !Tailwind Form with values replaced from rem to em */
[multiple] {
  padding: 0;
}

select[multiple] option,
select[multiple] optgroup {
  padding-top: 0.25em;
  padding-right: 0.75em;
  padding-bottom: 0.25em;
  padding-left: 0.75em;
}

[multiple] optgroup option::before {
  content: none;
}

.form button {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  font-size: 1em;
  line-height: 1.5em;
  --tw-shadow: 0 0 #0000;
}

.form button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

/* Details */
details > summary {
  cursor: pointer;
  display: inline-flex;
}
details:where(:not(.popup)) > summary::before {
  display: inline-flex;
  align-self: center;
  content: '';
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M9 5l7 7l-7 7' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  mask: var(--un-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: rgb(156 163 175);
  height: 1rem;
  width: 1rem;
  margin-left: -0.25rem;
  margin-right: 0.25rem;
}
details[open]:where(:not(.popup)) > summary::before {
  transform: rotate(90deg);
}
details:where(:not(.popup)) > div {
  border-left-width: 1px;
  margin-left: 0.25rem;
  padding-left: 0.75rem;
}
details.popup > summary::before {
  content: none;
}
details.popup[open] > summary::before {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  background-color: rgba(12, 12, 13, 0.6);
  content: ' ';
}
.popup > :where(div) {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 50%;
  min-height: 25vh;
  min-width: 50vw;
  max-height: 80vh;
  max-width: 90vw;
  margin: 10vh auto;
  padding: 20px;
  background: white;
  transform: translateX(-50%);
}

/* Tooltip */
[title] {
  position: relative;
  overflow: visible;
}
[title]:hover::after {
  /* @apply z-1 absolute content-[attr(title)] top-0 left-[50%] [transform:translate(-50%,calc(-100%-0.5rem) pointer-events-none text-sm line-clamp-3 max-w-[max-content] w-[350px] text-sm text-white bg-slate-800 rounded; */
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
  overflow: hidden;
  display: -webkit-box;
  max-width: max-content;
  width: 384px;
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  color: white;
  background: rgb(30, 41, 59);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  content: attr(title);
  transform: translate(-50%, calc(-100% - 0.5rem));
}
