[f1] { flex: 1; }
[ff] { order: -100; }
[fl] { order: 100; }
[row*], [column*], [grid] { display: flex; }
[row*] { flex-direction: row; }
[row-reverse] { flex-direction: row-reverse; }
[column] { flex-direction: column; }
[column-reverse] { flex-direction: column-reverse; }
[rows], [columns] { flex-wrap: wrap; }
[grid] { flex-wrap: wrap;margin: -5px; }
[grid]>* { flex: 1 0 10em;margin: 5px; }
[grid]>.full { flex-basis: calc(100% - 2*5px); }

[column][top-], [row][-left] { justify-content: flex-start; }
[column][center-], [row][-center] { justify-content: center; }
[column][bottom-], [row][-right] { justify-content: flex-end; }
[column][spread-], [row][-spread] { justify-content: space-around; }
[column][justify-], [row][-justify] { justify-content: space-between; }
[column][-left], [row][top-] { align-items: flex-start; }
[column][-center], [row][center-] { align-items: center; }
[column][-right], [row][bottom-] { align-items: flex-end; }
[column][-stretch], [row][stretch-] { align-items: stretch; }
[rows][top-], [columns][-left] { align-content: flex-start; }
[rows][bottom-], [columns][-right] { align-content: flex-end; }
[rows][center-], [columns][-center] { align-content: center; }
[rows][justify-], [columns][-justify] { align-content: space-between; }
[rows][spread-], [columns][-spread] { align-content: space-around; }
[rows][stretch-], [columns][-stretch] { align-content: stretch; }
