[full] { width: 100%; }
[hide] { display: none; }
[serif] { font-family: serif; }
[sans] { font-family: sans-serif; }
[mono] { font-family: monospace; }
[fs=xs] { font-size: var(--fs-xs); }
[fs=s] { font-size: var(--fs-s); }
[fs=m] { font-size: var(--fs-m); }
[fs=l] { font-size: var(--fs-l); }
[fs=xl] { font-size: var(--fs-xl); }
[m] { margin: 0; }
[m2] { margin: 2rem; }
[p] { padding: 0; }
[p2] { padding: 2rem; }
[mt] { margin-top: 0; }
[mt2] { margin-top: 2rem; }
[mt4] { margin-top: 4rem; }
[mt8] { margin-top: 8rem; }
[mb] { margin-bottom: 0; }
[mb2] { margin-bottom: 2rem; }
[mb4] { margin-bottom: 4rem; }
[mb8] { margin-bottom: 8rem; }
[pt] { padding-top: 0; }
[pt2] { padding-top: 2rem; }
[pt4] { padding-top: 4rem; }
[pt8] { padding-top: 8rem; }
[pb] { padding-bottom: 0; }
[pb2] { padding-bottom: 2rem; }
[pb4] { padding-bottom: 4rem; }
[pb8] { padding-bottom: 8rem; }
[txt=l] { text-align: left; }
[txt=r] { text-align: right; }
[txt=c] { text-align: center; }
[txt=j] { text-align: justify; }
[b] { border: var(--border); }
[bg] { background: var(--background); }
[bg1] { background: var(--background-1); }
[bg2] { background: var(--background-2); }
