.row, .column { display: flex;flex-wrap: wrap; }
.column { flex-direction: column; }
.row.center, .column.center { place-content: center;place-items: center; }
.row.around, .column.around { place-content: space-around; }
.row.between, .column.between { place-content: space-between; }
.row.evenly, .column.evenly { place-content: space-evenly; }
.row.top, .column.left { align-items: flex-start; }
.row.bottom, .column.right { align-items: flex-end; }
.row.right, .column.bottom { justify-content: flex-end; }
.row.left, .column.top { justify-content: flex-start; }
.row .top, .column .left { align-self: flex-start; }
.row .bottom, .column .right { align-self: flex-end; }
.row.reverse { flex-direction: row-reverse; }
.column.reverse { flex-direction: column-reverse; }
.space, .space > * { margin: 4px; }
.space .space { margin: 0; }
.stretch > * { flex: 1; }
.thick { flex: 1; }
.thin { flex: 0; }
.inline { display: inline-flex; }
.nowrap { flex-wrap: nowrap; }

:root { --inactive: rgba(12, 12, 13, 0.2);--primary: #05f;--text: #222; }
::selection { color: white;background: var(--primary); }
* { margin: 0;padding: 0;color: unset;border: 0;border-radius: 4px;outline: none;font: inherit;-webkit-appearance: none;-webkit-tap-highlight-color: transparent;box-sizing: border-box;caret-color: var(--primary);overscroll-behavior: none; }
html { min-height: 100vh;color: var(--text);font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%; }
pre, code, kbd, samp { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif; }
b, strong { font-weight: bolder; }
i, em { font-style: italic; }
small { font-size: 80%; }
sub, sup { position: relative;vertical-align: baseline;font-size: 75%;line-height: 0; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
del, ins { padding: 2px 0;border-radius: 2px;text-decoration: none; }
del { background: #fdb8c0; }
ins { background: #acf2bd; }
hr { margin: 24px 0;border-top: 1px solid var(--inactive); }
h1, h2, h3, h4, h5, h6 { font-weight: 800; }
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.25em; }
img, video, iframe { max-width: 100%;height: auto; }
iframe { width: 100%;height: 60vh; }
svg { vertical-align: text-top;width: 1.2em;height: 1.2em; }

table { width: 100%;border-collapse: collapse;box-shadow: 0 0 0 1px var(--inactive); }
tr { border-radius: 0;box-shadow: inset 0 -1px 0 var(--inactive); }
tr:nth-child(even) { background: rgba(12, 12, 13, 0.02); }
th { font-size: 80%;font-weight: 600; }
th, td { padding: 12px;text-align: left; }
th:empty { padding: 0; }
kbd { position: relative;top: -2px;margin: 0 4px;padding: 4px 8px;border: 0;box-shadow: 0 1px 2px 1px var(--inactive);font-size: 12px;font-weight: 800;text-transform: uppercase; }
pre { overflow: auto;padding: 12px;background: rgba(12, 12, 13, 0.05); }
:not(pre) > code { padding: 3px 6px;background: rgba(12, 12, 13, 0.05);font-size: 85%; }
blockquote { padding: 8px 0 8px 12px;border-left: 4px solid var(--inactive);border-radius: 0; }
ol, ul { padding-left: 24px; }
[title] { position: relative;overflow: visible; }
[title]:after { z-index: 1;position: absolute;top: 0;left: 50%;pointer-events: none;overflow: hidden;opacity: 0;display: -webkit-box;max-width: max-content;width: 400px;padding: 4px 8px;color: white;background: black;border-radius: 3px;font-size: 80%;font-weight: 500;transition: 150ms all;-webkit-box-orient: vertical;-webkit-line-clamp: 3;content: attr(title);transform: translate(-50%, -100%); }
[title]:hover:after { opacity: 1;transform: translate(-50%, calc(-100% - 5px)); }

a, button, details, details > summary, input, select, textarea { display: inline-flex;align-items: center;justify-content: center;vertical-align: middle; }
a { cursor: pointer;color: var(--primary);text-decoration: none; }
a:hover, a:focus { color: var(--text);border-radius: 0;box-shadow: 0 -2px var(--text) inset; }
a[href*="//"]::after { display: inline-block;width: 0.8em;height: 0.8em;margin-left: 2px;line-height: 0;content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%2305f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"/><path d="M15 3h6v6"/><path d="M10 14L21 3"/></svg>'); }
a[id][href^="#"]::before { display: none;width: 0.8em;height: 0.8em;margin: 0 0.2em 0 -1em;line-height: 0;content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M10 13a5 5 0 007.54.54l3-3a5 5 0 00-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 00-7.54-.54l-3 3a5 5 0 007.07 7.07l1.71-1.71"/></svg>'); }
a[id][href^="#"]:hover::before { display: inline-block; }
details[open] > summary::before { z-index: 10;position: fixed;top: 0;right: 0;bottom: 0;left: 0;cursor: default;display: block;background: rgba(12, 12, 13, 0.6);content: " "; }
details > div { z-index: 11;position: fixed;top: 0;left: 50%;display: flex;flex-direction: column;min-height: 25vh;min-width: 50vw;max-height: 80vh;max-width: 90vw;margin: 10vh auto;padding: 20px;background: white;animation: 300ms fade-in ease-in-out;transform: translateX(-50%); }
button, details > summary { --background: rgba(12, 12, 13, 0.1);--background-active: rgba(12, 12, 13, 0.3);--background-hover: var(--inactive);cursor: pointer;height: 40px;padding: 0 8px;background: var(--background);transition: background-color 150ms;user-select: none; }
input, select, textarea { --background: rgba(12, 12, 13, 0.05);--background-active: rgba(12, 12, 13, 0.08);--background-hover: rgba(12, 12, 13, 0.08);max-width: 400px;width: 100%;height: 40px;padding: 0 8px;background: var(--background);transition: background-color 150ms; }
select { padding-right: 32px;background: var(--background) no-repeat right 8px center / 20px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M6 9l6 6 6-6"/></svg>'); }
textarea { min-height: 80px;padding: 8px;resize: vertical; }
label { display: inline-flex;flex-direction: column;max-width: 400px;width: 100%; }
label > span { font-size: 80%;font-weight: 800; }
label:focus-within > span { color: var(--primary); }
.ghost { --background: transparent;--background-active: var(--inactive);--background-hover: rgba(12, 12, 13, 0.1); }
.primary { --background: var(--primary);--background-active: #002275;--background-hover: #003eaa;color: white; }
:focus { --background: var(--background-hover);box-shadow: 0 0 0 1px #0a84ff inset; }
:hover { --background: var(--background-hover); }
:active { --background: var(--background-active); }
:invalid { box-shadow: 0 0 0 1px #f44 inset; }
[disabled] { pointer-events: none;opacity: 0.4; }
[type="checkbox"], [type="radio"] { --padding: 8px;cursor: pointer;width: calc(var(--padding) * 2 + 16px);height: calc(var(--padding) * 2 + 16px);margin: 4px 0;background: rgba(12, 12, 13, 0.1);border: var(--padding) solid white;border-radius: calc(var(--padding) + 2px); }
[type="checkbox"]:hover, [type="radio"]:hover { background: var(--inactive); }
[type="checkbox"]:active, [type="radio"]:active { background: rgba(12, 12, 13, 0.3); }
[type="checkbox"][indeterminate] { background: var(--primary) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M5 12h14"/></svg>'); }
[type="checkbox"]:checked { background: var(--primary) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M20 6L9 17l-5-5"/></svg>'); }
[type="checkbox"]:checked:hover, [type="radio"]:checked:hover { background-color: #003eaa; }
[type="checkbox"]:checked:active, [type="radio"]:checked:active { background-color: #002275; }
[type="radio"] { border-radius: 100%; }
[type="radio"]:checked { background: var(--primary) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="5" fill="white"/></svg>'); }
[type="color"] { display: inline-flex;vertical-align: middle;width: 40px;padding: 5px 7px; }
[type="date"], [type="time"], [type="datetime-local"], [type="month"], [type="week"] { position: relative;padding-left: 32px;background: var(--background) no-repeat left 8px center / 20px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"/><path d="M16 2v4"/><path d="M8 2v4"/><path d="M3 10h18"/></svg>'); }
[type="email"] { padding-left: 32px;background: var(--background) no-repeat left 8px center / 20px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><path d="M22 6l-10 7L2 6"/></svg>'); }
[type="password"] { padding-left: 32px;background: var(--background) no-repeat left 8px center / 20px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0110 0v4"/></svg>'); }
[type="search"] { padding-left: 32px;background: var(--background) no-repeat left 8px center / 20px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M11 17.25a6.25 6.25 0 110-12.5 6.25 6.25 0 010 12.5z"/><path d="M16 16l4.5 4.5"/></svg>'); }
[type="tel"] { padding-left: 32px;background: var(--background) no-repeat left 8px center / 20px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z"/></svg>'); }
[type="url"] { padding-left: 32px;background: var(--background) no-repeat left 8px center / 20px url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M10 13a5 5 0 007.54.54l3-3a5 5 0 00-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 00-7.54-.54l-3 3a5 5 0 007.07 7.07l1.71-1.71"/></svg>'); }
::-webkit-details-marker { display: none; }
::-webkit-calendar-picker-indicator { z-index: 1;position: absolute;top: 0;right: 40px;bottom: 0;left: 0;opacity: 0;width: auto;height: auto; }
::-webkit-file-upload-button { cursor: pointer;display: inline-flex;align-items: center;justify-content: center;vertical-align: middle;height: 40px;margin: 0 -8px;padding: 0 8px;background: rgba(12, 12, 13, 0.1);border: 0;transition: background 150ms;user-select: none; }
::-webkit-file-upload-button:hover { background: var(--inactive); }
::-webkit-file-upload-button:active { background: rgba(12, 12, 13, 0.3); }
/* Firefox */
@-moz-document url-prefix() {
  [type="color"] { padding: 9px; }
  [type="file"] { padding: 8px; }
}
/* Safary */
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    details > summary { padding: 8px; }
  }
}
