@import "https://rawcss.com/raw.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,800";
body { font: 400 18px Montserrat;width: 800px;max-width: 100%;min-width: fit-content;min-height: fit-content;margin: 40px auto;padding: 20px; }
code { font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; }
h1, h2, h3 { margin: 40px 0 20px; }
h1:first-of-type { background: linear-gradient(to right,#03f,#0bf);-webkit-background-clip: text;-webkit-text-fill-color: transparent;text-align: center; }
p:first-of-type { font-size: 1.4em;text-align: center; }
svg { margin: .4em; }
